<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= navigation.title %></title>
</head>
<body>
  <div>Path: <%= navigation.path %></div>
	<div class="area center" id="<%= cmp.center.id %>">
		<% cmp.center.components.each do |c| %>
			<%= render c %>
		<% end %>
	</div>
	<div class="area sidebar" id="<%= cmp.sidebar.id %>">
		<% cmp.sidebar.components.each do |c| %>
			<%= render c %>
		<% end %>
	</div>
</body>
</html>
